<<!-- ======== START OF HEADER SECTION ========= -->
{% include "includes/header.html" %}
<!-- ======== END OF HEADER SECTION =========== -->
{% load static %}
{% block content %}

    <!-- ======== START OF HEADER SECTION ========= -->
    {% include "includes/aside.html" %}
    <!-- ======== END OF HEADER SECTION =========== -->

    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="{% url 'home' %}"><img class="main-logo" src="{% static 'img/logo/logo.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-advance-area">

            <!-- ======== START OF HEADER SECTION ========= -->
            {% include "includes/menubar.html" %}
            <!-- ======== END OF HEADER SECTION =========== -->


            <!-- Single pro tab start-->
            <div class="single-product-tab-area mg-b-30">
                <!-- Single pro tab review Start-->
                <div class="single-pro-review-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="review-tab-pro-inner">
                                    <ul id="myTab3" class="tab-review-design">
                                        <li class="active">
                                            <a href="#description">
                                                <i class="icon nalika-edit" aria-hidden="true"></i> 
                                                <img width="30" src="{{ MEDIA_URL }}profile_img/{{ menuData.profile_picture }}">
                                                Profile Edit
                                            </a>
                                        </li>
                                    </ul>

                                    <form id="login_form" method="POST" action="" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div id="myTabContent" class="tab-content custom-product-edit">
                                            <div class="product-tab-list tab-pane fade active in" id="description">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="review-content-section">
                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon"><i class="icon nalika-user" aria-hidden="true"></i></span>
                                                                <input type="text" name="name" value="{{ menuData.name }}" class="form-control" placeholder="Full Name">
                                                            </div>

                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                                <input type="password" name="password" value="{{ menuData.password }}" class="form-control" placeholder="Password">
                                                            </div>

                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon"><i class="fa fa-image"></i></span>
                                                                <input name="profile_picture" class="form-control" type="file" placeholder="Profile Picture">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="review-content-section">
                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon"><i class="icon nalika-user" aria-hidden="true"></i></span>
                                                                <input type="text" name="designation" value="{{ menuData.designation }}" class="form-control" placeholder="Last Name">
                                                            </div>

                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon"><i class="icon nalika-favorites-button" aria-hidden="true"></i></span>
                                                                <input type="password" name="confirmed_pass" value="{{ menuData.confirmed_pass }}" class="form-control" placeholder="Confirm Password">
                                                            </div>

                                                            <select name="status" class="form-control pro-edt-select form-control-primary">
    															<option value="" disabled>Status</option>
    															<option {% if menuData.status == 'active' %} selected {% endif %} value="active">Active</option>
    															<option {% if menuData.status == 'inactive' %} selected {% endif %} value="inactiva">Inactiva</option>
    														</select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="text-center custom-pro-edt-ds">
                                                            <input type="submit" name="edit_profile" value="Update" class="btn btn-ctl-bt waves-effect waves-light m-r-10">
                                                            <button type="button" class="btn btn-ctl-bt waves-effect waves-light">Discard</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- ===== START OF FOOTER SECTION ======== -->
{% include "includes/footer.html" %}
<!-- ===== END OF FOOTER SECTION ========== -->